.whiskeyprocess p {
  background-color: rgba(0, 0, 0, 0.637);
  width: 70vw;
  text-align: left;
  padding: 20px;
  line-height: 30px;
}

.intro,
.malting,
.mashing,
.fermentation,
.distillation,
.aging,
.bottling {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.whiskeyprocess img {
  width: 80vw;
}

h2 {
  font-size: 36px;
  margin-bottom: 0px;
}

.distillation p {
  margin-left: 40px;
}

@media (min-width: 640px) {
  .distillation p {
    margin-left: 60px;
  }
}

@media (min-width: 1024px) {
  .whiskeyprocess {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .distillation p {
    margin-left: 0;
  }

  .imgcontainer {
    display: flex;
    flex-direction: column;
  }

  .whiskeyprocess img {
    width: 45vw;
    margin: 5vh;
  }

  .card {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .intro p,
  .malting p,
  .mashing p,
  .fermentation p,
  .distillation p,
  .aging p,
  .bottling p {
    width: 20vw;
    padding: 40px 50px 40px 50px;
  }

  .intro,
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .malting {
    display: flex;
    flex-direction: column;
  }
}
