.postdetail {
  width: 100vw;
  height: screen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editicon {
  width: 32px;
  transition: 0.25s;
}

.editicon:hover,
.deleteicon:hover {
  transform: scale(1.2);
}

.deleteicon {
  width: 25px;
  transition: 0.5s;
}

.commentform {
  background-color: rgb(255, 255, 255);
  width: 50%;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  max-width: 400px;
}

.onepost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:  20px;
}

.onepost img {
  width: 80vw;
}

.posttitle {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: -10px;
}

.onepost p {
  background-color: rgba(0, 0, 0, 0.637);
  width: 75vw;
  padding: 20px 40px 60px 40px;
  margin: 20px;
  text-align: left;
  line-height: 36px;
}

.svgcontainer {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-top: -60px;
  margin-bottom: 50px;
}

@media (min-width: 640px) {
  .onepost img {
    width: 60vw;
  }
}

@media (min-width: 768px) {
  .onepost img {
    width: 40vw;
  }

  .onepost p {
    width: 65vw;
  }

  .commentform {
    width: 40%;
  }
}

@media (min-width: 1024px) {

}
