.posts {
  display: flex;
  flex-direction: column;
}

.postscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postcard {
  background-color: rgba(0, 0, 0, 0.637);
  width: 75%;
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;
  max-width: 800px;
}

.button {
  text-decoration: none;
}

.new {
  margin: 20px;
}

.author,
.commentcount {
  font-size: 12px;
  user-select: none;
}

.linkcontainer {
  text-align: left;
}

.postlink {
  text-decoration: none;
  font-size: 20px;
}

