* {
  font-family: "Merriweather", serif;
}

.title {
  width: 50vw;
  position: absolute;
  top: 5vh;
  left: 5vw;
  /* background-color: rgba(0, 0, 0, 0.637); */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: left;
  font-size: 96px;
}

.titleh1div {
  width: 60vw;
  position: absolute;
  top: 10vh;
  left: 5vw;
  /* background-color: rgba(0, 0, 0, 0.637); */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: left;
  font-size: 96px;
}

.titleh1 {
  font-size: 64px;
}

h1 {
  font-size: 36px;
  color: white;
}

img {
  width: 100vw;
  max-height: 100vh;
}

.header {
  width: 100vw;
  position: relative;
}

.user {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  padding: 0 16px 0 16px;
  border-radius: 40px;
  z-index: 2;
}

.user p {
  padding: 0 8px 0 8px;
  cursor: pointer;
  transition: 0.5s;
}

.user p:hover {
  transform: scale(1.1);
}

.titlep {
  color: white;
  text-align: left;
  display: none;
}

.titlepdiv {
  display: flex;
  justify-content: center;
  justify-items: center;
}

@media (min-width: 640px) {
  .title {
    top: 15%;
  }

  .titleh1 {
    font-size: 72px;
  }

  .titleh1div {
    top: 10vh;
    left: 5vw;
  }

  h1 {
    font-size: 48px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 72px;
  }

  .titleh1div{
      top:20vh;
      left: 10vw;
  }

  .titleh1{
      font-size: 96px;
  }
}
